// Navigation code here

nav {
    width: 1903px;
    height: 100px;
    font-family: @nav-font;
    background-color: @nav-bg;
    border-bottom: 1px solid @nav-border;

    .navigation {
        width: 42%;
        height: 100%;
        margin: 0 auto;
        text-align: center;

        h1 {
            font-size: 4rem;
            padding: 1% 0% 2% 0%;
        }

        a {
            font-size: 2rem;
            margin: 0% 3% 0% 0%;
            text-decoration: none;
            color: @main-font-color;
        }
    }
}//nav closer